{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}<title> Создать заявку </title>{% endblock %}

{% block content %}
    <h1 class="my-4">Создать заявку на дизайн интерьера</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Создать заявку</button>
                        <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}