@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 > a {
    color: black;
}

a {
text-decoration: none;
}

body {
    max-width: 1440px;
    margin: auto;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
}

section {
    gap: 10px
    display: flex;
    flex-decoration: column;
}

header {
    padding: 20px 100px;
    display: flex;
    justify_content: space-between;
    align-items: center;
}

